/* html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
} */

body {
  background-color: black;

  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "TT Lakes";
  src: url("./assets/font/TTLakes/TTLakes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("./assets/font/TTLakes/TTLakes-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("./assets/font/TTLakes/TTLakes-Bold.ttf") format("truetype");
}

/* Header */
.b-top-menu {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-bottom: 1px solid #d9fff5;
}

.b-nav-icon {
  all: initial;
  cursor: pointer;
}

.b-divider {
  width: 2px;
  height: 32px;
  flex-shrink: 0;
  align-self: center;
  border-radius: 1px;
  background: #eaeaea;
}

/* Main */
.b-main {
  background: #f8f8f8;
}
