* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  background: #f8f8f8;
  font-family: TT Lakes;
}
button {
  all: initial;
  cursor: pointer;
}
::-webkit-scrollbar {
  height: 0px;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/src/app/assets/font/TTLakes/TTLakes-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/src/app/assets/font/TTLakes/TTLakes-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("/src/app/assets/font/TTLakes/TTLakes-Bold.ttf") format("truetype");
}

/* Mixes */
.common-mb {
  margin-bottom: 24px;
}

/* Header-top */
.b-top-menu {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 0.1rem solid #d9fff5;

  &__e-divider {
    width: 2px;
    height: 32px;
    flex-shrink: 0;
    align-self: center;
    border-radius: 1px;
    background: #eaeaea;
  }

  &--box-model {
    padding: 0 16px;
    margin-bottom: 24px;
  }
}

/* Main */
.b-header {
  display: flex;
  gap: 12px;

  &__e-title {
    color: #1b1c21;
    font-family: TT Lakes Bold;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%;
    letter-spacing: -0.6px;
  }
}

.b-slide-menu {
  position: relative; // TODO В модификатор

  &__e-fade {
    width: 24px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;

    flex-shrink: 0;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0) 100%
    );
  }
}

.b-slide-row {
  margin-left: 1rem;
  display: flex;
  gap: 1.25rem;
  overflow-x: scroll;

  &__e-slide {
    padding: 0.5rem;
    flex-shrink: 0;

    color: #7e7e82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;

    &--active {
      border-radius: 6px;
      border: 2px solid #b8ffec;
      background: #fff;
    }
  }
}

.b-about {
  display: flex;
  margin-bottom: 2rem;
}

.b-about-content {
  &__e-text {
    margin-bottom: 1rem;
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.571%;
    letter-spacing: 0.2px;
  }

  &__e-more {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    color: #1b1c21;
    font-family: TT Lakes Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;
  }

  &--box-model {
    margin: 0 1rem;
  }
}
.b-logo {
  &__e-photo-mob {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
}

// Mobile
@media screen and (max-width: 767.9px) {
  .b-top-menu {
    // Скрыты иконки 3-6
    &__e-nav-icon:nth-child(n + 3):nth-child(-n + 6) {
      display: none;
    }
    // Скрыт 1й divider
    &__e-divider:nth-child(2) {
      display: none;
    }
  }

  // Скрытие слайдов после 2-го
  .b-slide-row {
    &__e-slide:nth-child(n + 3) {
      display: none;
    }
  }

  .b-about {
    flex-direction: column;
  }
  // Скрытие лишнего текста о компании
  .b-about-content {
    &__e-part-2 {
      display: none;
    }
  }

  // Отключение разрыва текста
  .b-divider-x--show {
    display: none;
  }
}

// Tablet
@media screen and (min-width: 767.9px) and (max-width: 1023.9px) {
  html {
    font-size: 20px;
  }
  .common-mb {
    margin-bottom: 32px;
  }
  .b-about {
    margin-bottom: 40px;
  }

  // Три элемента прижаты влево, остальные вправо
  .b-top-menu {
    &__e-logo {
      margin-right: auto;
    }
    // Отступы между каждым элементом
    &__e-nav-icon,
    &__e-divider {
      margin-right: 1rem;
    }
    // Удаление отступа после последнего
    &__e-nav-icon:last-child {
      margin-right: 0;
    }
  }

  // Скрытие 4-го слайда
  .b-slide-row {
    &__e-slide:nth-child(4) {
      display: none;
    }
  }

  // Скрытие лишнего текста о компании
  .b-about-content {
    &__e-part-3 {
      display: none;
    }
  }
}

// Laptop >=
@media screen and (min-width: 1023.9px) {
  .b-slide-menu {
    &__e-fade {
      display: none;
    }
  }
}
