* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  font-family: TT Lakes;
}

button {
  all: initial;
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 0px;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/src/app/assets/font/TTLakes/TTLakes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/src/app/assets/font/TTLakes/TTLakes-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("/src/app/assets/font/TTLakes/TTLakes-Bold.ttf") format("truetype");
}
/* Header */
.b-top-menu {
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 0.1rem solid #d9fff5;
}
.b-top-menu__e-divider {
  width: 2px;
  height: 32px;
  flex-shrink: 0;
  align-self: center;
  border-radius: 1px;
  background: #eaeaea;
}
.b-top-menu--box-model {
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}

/* Main */
.b-header,
.b-slide-menu,
.b-about {
  margin-bottom: 1.5rem;
}

.b-header {
  display: flex;
  gap: 0.75rem;
}
.b-header__e-title {
  color: #1b1c21;
  font-family: TT Lakes Bold;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.857%;
  letter-spacing: -0.6px;
}

.b-slide-menu {
  position: relative;
}
.b-slide-menu__e-fade {
  width: 1.5rem;
  height: 2.7rem;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  flex-shrink: 0;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0) 100%);
}

.b-slide-row {
  margin-left: 1rem;
  display: flex;
  gap: 1.25rem;
  overflow-x: scroll;
}
.b-slide-row__e-slide {
  padding: 0.5rem;
  flex-shrink: 0;
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.2px;
}
.b-slide-row__e-slide--active {
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background: #fff;
}

.b-about__e-content {
  margin: 0 1rem;
}
.b-about__e-text {
  margin-bottom: 1rem;
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: 0.2px;
}
.b-about__e-more {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  color: #1b1c21;
  font-family: TT Lakes Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.2px;
}

.b-logo__e-photo-mob {
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

@media screen and (max-width: 767.9px) {
  .b-top-menu__e-nav-icon:nth-child(n+3):nth-child(-n+6) {
    display: none;
  }
  .b-top-menu__e-divider:nth-child(2) {
    display: none;
  }
  .b-slide-row__e-slide:nth-child(n+3) {
    display: none;
  }
}
@media screen and (min-width: 767.9px) and (max-width: 1023.9px) {
  .b-top-menu__e-logo {
    margin-right: auto;
  }
  .b-top-menu__e-nav-icon, .b-top-menu__e-divider {
    margin-right: 1rem;
  }
  .b-top-menu__e-nav-icon:last-child {
    margin-right: 0;
  }
  .b-slide-row__e-slide:nth-child(4) {
    display: none;
  }
}
@media screen and (min-width: 1023.9px) {
  .b-slide-menu__e-fade {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */