* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  background: #f8f8f8;
  font-family: TT Lakes;
}
button {
  all: initial;
  cursor: pointer;
}
::-webkit-scrollbar {
  height: 0px;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/src/app/assets/font/TTLakes/TTLakes-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/src/app/assets/font/TTLakes/TTLakes-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("/src/app/assets/font/TTLakes/TTLakes-Bold.ttf") format("truetype");
}

/* ---- Mixes ---- */
.slide {
  flex-shrink: 0;
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.2px;
}

/* ---- Top ---- */
.b-top-menu {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px solid #d9fff5;

  &__e-divider {
    width: 2px;
    height: 32px;
    flex-shrink: 0;
    align-self: center;
    border-radius: 1px;
    background: #eaeaea;
  }
  &--box-model {
    padding: 0 16px;
    margin-bottom: 24px;
  }
}

/* ---- Main ---- */
/* Header */
.b-header {
  display: flex;

  &__e-title {
    margin-left: 12px;
    color: #1b1c21;
    font-family: TT Lakes Bold;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%;
    letter-spacing: -0.6px;
  }
  &__e-nav-icon {
    display: none;
  }
  &--box-model {
    margin-bottom: 24px;
  }
}

/* Slide-menu */
.b-slide-menu {
  &__e-fade {
    width: 24px;
    height: 40px;
    left: auto;
    right: 0;
    bottom: 0;
    flex-shrink: 0;
    position: absolute;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0) 100%
    );
    &--hidden {
      display: none;
    }
  }
  &--box-model {
    position: relative;
    margin-left: 16px;
    margin-bottom: 24px;
  }
}

.b-slide-row {
  display: flex;
  gap: 20px;
  overflow-x: scroll;

  &__devices {
    &--active {
      padding: 8px;
      border: 2px solid #b8ffec;
      border-radius: 6px;
      background: #fff;
    }
  }
}

/* ---- About ---- */
.b-about {
  display: flex;
}

.b-about-content {
  &__e-text {
    margin-bottom: 16px;
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.571%;
    letter-spacing: 0.2px;
  }
  &__e-more {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    color: #1b1c21;
    font-family: TT Lakes Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;
  }
  &__e-logo-photo {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 2%;
  }
}

// Mobile
@media screen and (max-width: 767.9px) {
  .b-top-menu {
    &__e-nav-icon:nth-child(n + 3):nth-child(-n + 6) {
      display: none;
    }
    &__e-divider:nth-child(2) {
      display: none;
    }
  }

  .b-slide-menu {
    &__e-fade {
      &--hidden {
        display: block;
      }
    }
  }
  .b-slide-row > .slide:nth-child(n + 3) {
    display: none;
  }

  .b-about {
    flex-direction: column;
    &--box-model {
      margin: 0 16px;
      margin-bottom: 35px;
    }
  }
  .b-about-content {
    &__e-part-2 {
      display: none;
    }
    &__e-logo-photo {
      margin: 0 -16px;
      width: auto;
      height: auto;
      flex-shrink: 0;
      border-radius: 0;
    }
  }

  .b-divider-x--show {
    display: none;
  }
}

// Tablet
@media screen and (min-width: 767.9px) and (max-width: 1023.9px) {
  .b-header {
    &__e-title {
      margin-left: 24px;
    }
    &--box-model {
      margin-bottom: 32px;
    }
  }

  .b-slide-menu {
    &--box-model {
      margin-left: 24px;
      margin-bottom: 32px;
    }
  }

  .b-about {
    &--box-model {
      margin: 0 24px;
      margin-bottom: 40px;
    }
  }

  // Три элемента прижаты влево, остальные вправо
  .b-top-menu {
    &__e-logo {
      margin-right: auto;
    }
    // Отступы между каждым элементом
    &__e-nav-icon,
    &__e-divider {
      margin-right: 16px;
    }
    // Удаление отступа после последнего
    &__e-nav-icon:last-child {
      margin-right: 0;
    }
  }

  .b-slide-row {
    &__address,
    &__review {
      display: none;
    }
  }

  .b-about {
    gap: 48px;
  }
  .b-about-content {
    &__e-part-3 {
      display: none;
    }
    &__e-logo-photo {
      width: 360px;
      height: 260px;
      flex-shrink: 0;
    }
  }
}

// Laptop >=
@media screen and (min-width: 1023.9px) {
  .b-top-menu {
    display: none;
  }

  .b-header {
    &__e-title {
      margin-right: auto;
    }
    &__e-nav-icon {
      display: block;
    }
    &--box-model {
      margin: 42px 16px 8px 0;
    }
  }

  .b-slide-row {
    flex-flow: row wrap;
    overflow: visible;
  }
}

// TODO Скрыть icons b-header на других экранах

// TODO Выстроить в ряд b-header и icons

// TODO Скрыть b-top-menu для Laptop >=
// TODO Изменить отступ для b-header
// TODO Задать размеры logo-photo
// TODO Добавить gap для b-about Laptop
// TODO Проверить отступы b-about (left/right/bottom)
